<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
    <link href="/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1>Appointment</h1>
        </div>
    </div>
    <div id="content">
        <%= yield %>
    </div>
</div>
<div id="footer">
    This is a test project by Benjamin Huang
</div>
 <%= yield :js %>  
</body>
</html>
