<!DOCTYPE html>
<html>
<head>
  <title><%=@title%></title>
    <link href="/css/layout.css" rel="stylesheet" type="text/css" />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <link href="/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <%= yield :css %> 
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery-1.8.3.min" %>
    <%= javascript_include_tag "jquery.validate" %>
    <%= javascript_include_tag "jquery-ui-1.9.2.custom.min" %>
    <%= javascript_include_tag "jquery-ui-timepicker-addon" %>
    <%= javascript_include_tag "appointment" %>
    <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <div id="logo">
            <h1>Appointment</h1>
        </div>
    </div>
    <div id="content">
        <%= yield %>
    </div>
</div>
<div id="footer">
    This is a test project by Benjamin Huang
</div>
<%= yield :js %>
</body>
</html>
