<% content_for :js do %> 
  <%= javascript_include_tag 'jquery-1.8.3.min' %> 
  <%= javascript_include_tag 'jquery.validate' %> 
  <%= javascript_include_tag 'jquery-ui-1.9.2.custom.min' %> 
  <%= javascript_include_tag 'formvalidation' %> 
<% end %> 
<div class="editor-label">
    <%= f.label :name %>
</div>
<div class="editor-field">
	<%= f.text_field :name %>
</div>
<div class="editor-label">
    <%= f.label :address %>
</div>
<div class="editor-field">
    <%= f.text_field :address %>
</div>
<div class="editor-label">
    <%= f.label :phone %>
</div>
<div class="editor-field">
    <%= f.text_field :phone %>
</div>
<div class="editor-label">
    <%= f.label :email %>
</div>
<div class="editor-field">
    <%= f.text_field :email %>
</div>
<div class="editor-label">
    <%= f.label :date %>
</div>
<div class="editor-field">
    <%= f.text_field :date %>
</div>
