<% content_for :css do %> 
  <%= stylesheet_link_tag 'jquery-ui-timepicker-addon' %> 
<% end %> 
<div class="editor-label">
    <%= f.label :name %>
</div>
<div class="editor-field">
	<%= f.text_field :name %>
</div>
<div class="editor-label">
    <%= f.label :address %>
</div>
<div class="editor-field">
    <%= f.text_field :address %>
</div>
<div class="editor-label">
    <%= f.label :phone %>
</div>
<div class="editor-field">
    <%= f.text_field :phone %>
</div>
<div class="editor-label">
    <%= f.label :email %>
</div>
<div class="editor-field">
    <%= f.text_field :email %>
</div>
<div class="editor-label">
    <%= f.label :date %>
</div>
<div class="editor-field">
    <%= f.text_field :date %>
</div>
