<% @title="Update appointment" %> <h2><%= @title%></h2>
<%= form_for @appointment, :html =>{:id => "form_Update"}, :url => {:action => 'update', :id => @appointment } do |f| %>
    <%= render :partial => 'form', :locals => { :f => f } %>
    <div class="formbuttons">
    <%= f.submit "Update" %>
    </div>
<% end %>
<br/>
<%= link_to 'Back', :controller=>"home", :action => "index" %>
<% content_for :js do %> 
  <%= javascript_include_tag 'update' %> 
<% end %> 

